.playoff-border {
    border-right: 5px solid green;

}

.wildcard-border {
    border-right: 5px solid rgb(75, 116, 192);
}

.conference-name{
    font-size: 22px;
    font-weight: bold;
    margin: 20px ;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.blue-color {
    color: rgb(78, 207, 247);
}