<div class="division-name">
    Atlantic Division
</div>

<div *ngIf="teamPositionsByDivision[DivisionEnum.ATLANTIC].length > 0">
    <p-table [value]="this.teamPositionsByDivision[DivisionEnum.ATLANTIC]" styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem', 'max-width': '60rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th></th>
                <th>Team Name</th>
                <th>Owner</th>
                <th>M</th>
                <th>P</th>
                <!-- <th>Wins</th>
                <th>Losses</th>
                <th>GF</th>
                <th>GA</th>
                <th>G+/-</th> -->
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-teamPosition let-i="rowIndex" >
            <tr>
                <td [ngClass]="{
                    'playoff-border': teamPosition.playOff,
                    'wildcard-border': !teamPosition.playOff && teamPosition.wildCard
                }"> {{ i+1 }}
                </td>
                <td><img [src]="'assets/logos/' + teamPosition.shortName + '.png'"
                        alt="{{ teamPosition.teamName }} Logo" style="width: 40px; height: auto;"></td>
                <td class="bold">{{ teamPosition.teamName }}</td>
                <td>{{ teamPosition.owner }}</td>
                <td>{{ teamPosition.playedGames }}</td>
                <td class="bold">{{ teamPosition.points }}</td>

                <!-- <td>{{ teamPosition.wins }}</td>
                <td>{{ teamPosition.losses }}</td>
                <td>{{ teamPosition.goalsScored }}</td>
                <td>{{ teamPosition.goalsAgainst }}</td>
                <td>{{ teamPosition.goalsScored-teamPosition.goalsAgainst }}</td> -->

                <td>

                    <i class="font-style-normal" [ngClass]="
                            (teamPosition.positionDivisionBeforeRound -i -1) < 0 ? 'pi pi-sort-down-fill red-color font-size-18' :
                            (teamPosition.positionDivisionBeforeRound - i-1) > 0 ? 'pi pi-sort-up-fill green-color font-size-18' :
                            'pi pi-circle-fill blue-color'"> {{teamPosition.positionDivisionBeforeRound -i-1}}
                    </i>



                </td>

            </tr>
        </ng-template>
    </p-table>
</div>


<div class="division-name">
    Metropolitan Division
</div>
<div *ngIf="teamPositionsByDivision[DivisionEnum.METROPOLITAN].length > 0">
    <p-table [value]="this.teamPositionsByDivision[DivisionEnum.METROPOLITAN]" styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem', 'max-width': '60rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th></th>
                <th>Team Name</th>
                <th>Owner</th>
                <th>M</th>
                <th>P</th>
                <!-- <th>Wins</th>
                <th>Losses</th>
                <th>GF</th>
                <th>GA</th>
                <th>G+/-</th>-->
                <th></th> 
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-teamPosition let-i="rowIndex">
            <tr>


                <td [ngClass]="{
                    'playoff-border': teamPosition.playOff,
                    'wildcard-border': !teamPosition.playOff && teamPosition.wildCard
                }"> {{ i+1 }}
                </td>
                <td><img [src]="'assets/logos/' + teamPosition.shortName + '.png'"
                        alt="{{ teamPosition.teamName }} Logo" style="width: 40px; height: auto;"></td>
                <td class="bold">{{ teamPosition.teamName }}</td>
                <td>{{ teamPosition.owner }}</td>
                <td>{{ teamPosition.playedGames }}</td>
                <td class="bold">{{ teamPosition.points }}</td>

                <!-- <td>{{ teamPosition.wins }}</td>
                <td>{{ teamPosition.losses }}</td>
                <td>{{ teamPosition.goalsScored }}</td>
                <td>{{ teamPosition.goalsAgainst }}</td>
                <td>{{ teamPosition.goalsScored-teamPosition.goalsAgainst }}</td> -->

                <td>

                    <i class="font-style-normal" [ngClass]="
                    (teamPosition.positionDivisionBeforeRound -i -1) < 0 ? 'pi pi-sort-down-fill red-color font-size-18' :
                    (teamPosition.positionDivisionBeforeRound - i-1) > 0 ? 'pi pi-sort-up-fill green-color font-size-18' :
                    'pi pi-circle-fill blue-color'"> {{teamPosition.positionDivisionBeforeRound -i-1}}
            </i>


                </td>

            </tr>
        </ng-template>
    </p-table>
</div>


<div class="division-name">
    Pacific Division
</div>

<div *ngIf="teamPositionsByDivision[DivisionEnum.PACIFIC].length > 0">
    <p-table [value]="this.teamPositionsByDivision[DivisionEnum.PACIFIC]" styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem', 'max-width': '60rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th></th>
                <th>Team Name</th>
                <th>Owner</th>
                <th>M</th>
                <th>P</th>
                <!-- <th>Wins</th>
                <th>Losses</th>
                <th>GF</th>
                <th>GA</th>
                <th>G+/-</th> -->
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-teamPosition let-i="rowIndex">
            <tr>


                <td [ngClass]="{
                    'playoff-border': teamPosition.playOff,
                    'wildcard-border': !teamPosition.playOff && teamPosition.wildCard
                }"> {{ i+1 }}
                </td>
                <td><img [src]="'assets/logos/' + teamPosition.shortName + '.png'"
                        alt="{{ teamPosition.teamName }} Logo" style="width: 40px; height: auto;"></td>
                <td class="bold">{{ teamPosition.teamName }}</td>
                <td>{{ teamPosition.owner }}</td>
                <td>{{ teamPosition.playedGames }}</td>
                <td class="bold">{{ teamPosition.points }}</td>
<!-- 
                <td>{{ teamPosition.wins }}</td>
                <td>{{ teamPosition.losses }}</td>
                <td>{{ teamPosition.goalsScored }}</td>
                <td>{{ teamPosition.goalsAgainst }}</td>
                <td>{{ teamPosition.goalsScored-teamPosition.goalsAgainst }}</td> -->

                <td>

                    <i class="font-style-normal" [ngClass]="
                    (teamPosition.positionDivisionBeforeRound -i -1) < 0 ? 'pi pi-sort-down-fill red-color font-size-18' :
                    (teamPosition.positionDivisionBeforeRound - i-1) > 0 ? 'pi pi-sort-up-fill green-color font-size-18' :
                    'pi pi-circle-fill blue-color'"> {{teamPosition.positionDivisionBeforeRound -i-1}}
            </i>


                </td>

            </tr>
        </ng-template>
    </p-table>
</div>

<div class="division-name">
    Central Division
</div>

<div *ngIf="teamPositionsByDivision[DivisionEnum.CENTRAL].length > 0">
    <p-table [value]="this.teamPositionsByDivision[DivisionEnum.CENTRAL]" styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem', 'max-width': '60rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th></th>
                <th>Team Name</th>
                <th>Owner</th>
                <th>M</th>
                <th>P</th>
                <!-- <th>Wins</th>
                <th>Losses</th>
                <th>GF</th>
                <th>GA</th>
                <th>G+/-</th> -->
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-teamPosition let-i="rowIndex">
            <tr>


                <td [ngClass]="{
                    'playoff-border': teamPosition.playOff,
                    'wildcard-border': !teamPosition.playOff && teamPosition.wildCard
                }"> {{ i + 1 }}
                </td>
                <td><img [src]="'assets/logos/' + teamPosition.shortName + '.png'"
                        alt="{{ teamPosition.teamName }} Logo" style="width: 40px; height: auto;"></td>
                <td class="bold">{{ teamPosition.teamName }}</td>
                <td>{{ teamPosition.owner }}</td>
                <td>{{ teamPosition.playedGames }}</td>
                <td class="bold">{{ teamPosition.points }}</td>

                <!-- <td>{{ teamPosition.wins }}</td>
                <td>{{ teamPosition.losses }}</td>
                <td>{{ teamPosition.goalsScored }}</td>
                <td>{{ teamPosition.goalsAgainst }}</td>
                <td>{{ teamPosition.goalsScored-teamPosition.goalsAgainst }}</td> -->

                <td>

                    <i class="font-style-normal" [ngClass]="
                            (teamPosition.positionDivisionBeforeRound -i -1) < 0 ? 'pi pi-sort-down-fill red-color font-size-18' :
                            (teamPosition.positionDivisionBeforeRound - i-1) > 0 ? 'pi pi-sort-up-fill green-color font-size-18' :
                            'pi pi-circle-fill blue-color'"> {{teamPosition.positionDivisionBeforeRound -i-1}}
                    </i>

                    <!--<i class="pi pi-sort-down-fill" style="color: green"></i>
                    <i class="pi pi-sort-up-fill" style="color: red"></i>
                    <i class="pi pi-minus" style="color: yellow"></i>
                    <div *ngIf="teamPosition.positionBeforeRound - teamPosition.position > 0">
                       
                        <p-tag severity="success" icon="pi pi-caret-up"
                            value="+{{ teamPosition.positionBeforeRound - teamPosition.position }}" />
                    </div>
                    <div *ngIf="teamPosition.positionBeforeRound - teamPosition.position == 0">
                        <p-tag severity="secondary"
                            value="{{ teamPosition.positionBeforeRound - teamPosition.position }}" />
                    </div>
                    <div *ngIf="teamPosition.positionBeforeRound - teamPosition.position < 0">
                        <p-tag severity="danger"
                            value="{{ teamPosition.positionBeforeRound - teamPosition.position }}" />
                    </div>-->
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>