.bold {
    font-weight: 500;
}

.green-color {
    color: green;
}

.red-color {
    color: red;
}

.blue-color {
    color: rgb(78, 207, 247);
}

.font-style-normal {
    font-style: normal;
}

.font-size-18 {
    font-size: 18px;
}

.playoff-border {
    border-right: 5px solid green;

}

.wildcard-border {
    border-right: 5px solid rgb(75, 116, 192);
}

.division-name{
    font-size: 22px;
    font-weight: bold;
    margin: 20px ;
}