<div class="background-image">
    <div class="team">
        <label for="team1">Team</label>
        <p-dropdown id="team1" [options]="teams" optionLabel="name" placeholder="Select Team 1" name="homeTeam"
            [filter]="true" filterBy="name" [(ngModel)]="selectedTeam" (ngModelChange)="onTeamSelect()" required>
        </p-dropdown>
    </div>

    <div *ngIf="selectedTeam">
        <img class="transparent-team-logo" [src]="'assets/logos/' + selectedTeam.shortName + '.png'"
            alt="{{ selectedTeam.shortName }} Logo">
    </div>

    <div class="basic-info" *ngIf="selectedTeam">

        <div>
            Conference: {{selectedTeam.conference}}
        </div>
        <div>
            Division: {{selectedTeam.division}}
        </div>
        <div>
            Owner: {{selectedTeam.owner}}
        </div>
        <div>
            Position:
        </div>
        <div>
            Conference: {{selectedTeam.conference}}
        </div>
    </div>
    <div class="basic-info" *ngIf="teamInfo">
        <div class="name">Statistics</div>
        <div class="table-container">
            <p-table styleClass="p-datatable-striped" *ngIf="teamInfo">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th class="text-center column-height">All</th>
                        <th class="text-center">Played</th>
                        <th class="text-center">Simulation</th>
                    </tr>

                    <tr>
                        <td class="bold text-center column-height">Games played</td>
                        <td class="text-center">{{ teamInfo.playedGames }}</td>
                        <td class="text-center">{{ teamInfo.playedGames -teamInfo.playedSimGames }}</td>
                        <td class="text-center">{{ teamInfo.playedSimGames }}</td>
                    </tr>
                    <tr>
                        <td class="bold text-center column-height">Wins</td>
                        <td class="text-center">{{ teamInfo.wins + teamInfo.simWins }}</td>
                        <td class="text-center">{{ teamInfo.wins }}</td>
                        <td class="text-center">{{ teamInfo.simWins }}</td>
                    </tr>
                    <tr>
                        <td class="bold text-center column-height">OT Wins</td>
                        <td class="text-center">{{ teamInfo.winsOt + teamInfo.simWinsOt }}</td>
                        <td class="text-center">{{ teamInfo.winsOt }}</td>
                        <td class="text-center">{{ teamInfo.simWinsOt }}</td>
                    </tr>
                    <tr>
                        <td class="bold text-center column-height">OT Losses</td>
                        <td class="text-center">{{ teamInfo.lossesOt + teamInfo.simLossesOt }}</td>
                        <td class="text-center">{{ teamInfo.lossesOt }}</td>
                        <td class="text-center">{{ teamInfo.simLossesOt }}</td>
                    </tr>
                    <tr>
                        <td class="bold text-center column-height">Losses</td>
                        <td class="text-center">{{ teamInfo.losses + teamInfo.simLosses }}</td>
                        <td class="text-center">{{ teamInfo.losses }}</td>
                        <td class="text-center">{{ teamInfo.simLosses }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- 
<p-carousel [value]="teams" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template let-team pTemplate="team">
        <div class="border-1 surface-border border-round m-2 p-3">
            <div class="mb-3">
                <div class="relative mx-auto">
                    <img [src]="'assets/logos/vs' + '.avif'" alt="{{ team.shortName }} Logo" class="w-full border-round"
                        style="    height: 200px;">
                    <img [src]="'assets/logos/' + team.shortName + '.png'" alt="{{ team.shortName }} Logo"
                        class="logo-carousel-1">
                    <img [src]="'assets/logos/' + team.shortName + '.png'" alt="{{ team.shortName }} Logo"
                        class="logo-carousel-2">
                    <div class="score-carousel">3-1</div>
                </div>
            </div>
            <div class="mb-3 font-medium">
                {{ team.name }}
            </div>
            <div class="flex justify-content-between align-items-center">
                <div class="mt-0 font-semibold text-xl">
                    {{ '$' + team.name }}
                </div>

            </div>
        </div>
    </ng-template>
</p-carousel> -->
    <div class="name">Matches</div>

    <div class="table-container">
        <p-table [value]="matches" styleClass="p-datatable-striped ">
            <ng-template pTemplate="header">
                <tr>

                    <th class="left-team-column"> Home Team</th>
                    <th class="logo-column"></th>
                    <th></th>
                    <th class="score-column">Score</th>
                    <th></th>
                    <th class="logo-column"></th>
                    <th>Away Team</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-match>
                <tr>
                    <td class="left-team-column" [ngClass]="{
                'bold': match.homeTeamScore > match.awayTeamScore
            }">{{ match.homeTeamName }}</td>
                    <td class="logo-cell"><img [src]="'assets/logos/' + match.homeTeamShortName + '.png'"
                            alt="{{ match.homeTeamShortName }} Logo" style="width: 40px; height: auto;"></td>

                    <td class="small-width">
                        <span *ngIf="match.simulated" class="pi pi-clock"></span>

                    </td>
                    <td class="bold score-column">{{ match.homeTeamScore }} - {{ match.awayTeamScore }}</td>
                    <td class="small-width overtime bold">{{ match.overtime? 'ot' : '' }}</td>
                    <td class="logo-cell"><img [src]="'assets/logos/' + match.awayTeamShortName + '.png'"
                            alt="{{ match.awayTeamShortName }} Logo" style="width: 40px; height: auto;"></td>
                    <td [ngClass]="{
                    'bold': match.homeTeamScore < match.awayTeamScore
                }">{{ match.awayTeamName }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>